<div class="container w-96 flex flex-1 flex-col justify-center">

  <div class="doctor">
    <div class="doctor flex my-4 p-4">
      <div class="left">
        <img class="rounded-md" [src]="doctor?.image" [alt]="doctor?.name"/>
      </div>
      <div class="right flex flex-col ml-4">
        <span>{{doctor?.name}}</span>
        <span>{{doctor?.cost | currency: 'Rp ': 'symbol' : '1.0'}}</span>
        <span>{{doctor?.title}}</span>
      </div>
    </div>

    <div class="description p-4">
      <p class="text-sm">{{doctor?.description}}</p>
    </div>

    <div class="location" id="map" style="width: 100%; height: 300px;">
    </div>
  </div>

</div>
