<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content">
  <div class="flex-none px-2 mx-2">
    <span class="text-lg font-bold">
            Mini Project
          </span>
  </div>
  <div class="flex-1 px-2 mx-2">
    <div class="items-stretch lg:flex md:flex sm:flex">
      <a class="btn btn-ghost btn-sm rounded-btn" [routerLink]="['/task-1']">
        Task 1
      </a>
      <a class="btn btn-ghost btn-sm rounded-btn" [routerLink]="['/task-2']">
        Task 2
      </a>
      <a class="btn btn-ghost btn-sm rounded-btn" [routerLink]="['/task-3']">
        Task 3
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
