<div class="container w-96 flex flex-1 flex-col justify-center">

  <div class="list-doctor">
    <div class="doctor flex my-8 p-4 border border-solid border-base-300 rounded-md cursor-pointer"
         *ngFor="let doctor of listDoctor"
          (click)="goToDetail(doctor.id)">
      <div class="left">
        <img class="rounded-md" [src]="doctor.image" [alt]="doctor.name"/>
      </div>
      <div class="right flex flex-col ml-4">
        <span>{{doctor.name}}</span>
        <span>{{doctor.cost | currency: 'Rp ': 'symbol' : '1.0'}}</span>
        <span>{{doctor.title}}</span>
      </div>
    </div>
  </div>

</div>
